<!DOCTYPE html>
<html>
  <head>
    <title>Yardsale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- prettier-ignore -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <!-- prettier-ignore -->
  <body>
    <%= render 'layouts/navigation' %> 
    <div class="container is-fluid mt-3">
    <%= yield %>
  </div>
  </body>
</html>
